@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(../font/NanumSquareOTFRegular.woff);
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url(../font/NanumSquareOTFBold.woff);
}
@font-face {
    font-family: 'TTHoves';
    font-weight: 400;
    src: url(../font/TTHoves-Medium.woff);
}
@font-face {
    font-family: 'TTHoves';
    font-weight: 700;
    src: url(../font/TTHoves-DemiBold.woff);
}